@import "./../../common/styl/com.styl"
.login
  minHeight()
  .login-wrapper
    position relative
    width 520px
    max-width 100%
    padding 160px 35px 0
    margin 0 auto
    overflow hidden
    .title
      font-size 26px
      color $fontEEE
      margin 0 auto 40px auto
      text-align center
      font-weight 700
    .login-form-button
      margin 0 auto
    .ant-input-prefix
      color $fontEEE
    .ant-input
      background transparent
      color $fontEEE

